/* Html Custom Font */
* {
    font-family: helvetica;
}
h2{
    font-size: 26px !important;
}
h3{
    font-size: 24px !important;
}
h4{
    font-size: 18px !important;  
}
p, li {
    font-size: 14px;
    padding-top: 15px;
}

/* Html Custom Color */
main .row, .footer {
    padding-top: 120px;
    padding-left: 30px;
}

.btn, .btn:hover{
    background-color:#5CB85F !important;
    border-color: #5CB85F !important;
}

/* Header */
header{
    background-color: transparent;
    height: 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo-area {
    background-color: #0D28A6;
    margin-top: 15px;
    width: 110px;
    height: 35px;
    margin-left: 30px;
}

.navbar-area ul {
    padding-top: 20px;
    font-size: 14px; 
    padding-right: 30px;
}

.navbar-area ul li {
    display: inline;
    list-style: none;
}

.navbar-area ul li a {
    text-decoration: none;
    color: black;
}

/* Content Area */
/* Front Page */ 
.front-page {
    background-color: #F1F3FF;
}

.front-text{ 
    padding-top: 10px;
    padding-right: 50px;
}

.front-image{
    padding-right: 0 !important;
}

#car-pics {
    float: right;
    width: 100vw;
    max-width: 120%;
    padding-top: 30px;
}


/* Our Services */
.services-text {
    padding-top: 30px;
    justify-content: left;
}

.services-list{
    list-style: none;
    padding-left: 0;
}

#service-pics {
    width: 85vw;
    align-items: center;
}

/* Why Us */
.whyus-title {
    justify-content: left;
}

.whyus-content {
    align-items: flex-start;
    display: inline-flex;
    padding-right: 102px !important;
}

.whyus-card{
    width: 298px;
    height: 196px;
    border: 1px solid #E5E5E5;
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
    position:relative;
    margin-top: 10px;
}

/* Testimonial */
.testimonial-title, .testimonial-carousel {
    text-align: center;
}

.carousel-button-left {
    text-align: end;
}

.carousel-item {
    padding: 30px;
}
.carousel-card {
    align-items: center;
    padding: 0 !important;
}
.card{
    border-color:#F1F3FF !important;
    background-color: #F1F3FF !important;
    border-radius: 5px;
}

.card-body {
    padding: 10 !important;
    align-items: center;
}

.btn-carousel {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel button {
    border-radius: 100%;
    margin: 5px 15px;
}

.tombol-crsl {
    width: 10px;
    height: 10px;
}

.card-photo {
    display: flex;
    justify-content: center;
}

/* CTA Banner */
.cta-banner{
    display: flex;
    justify-content: center;
}
.ctabanner-content{
    width: 80vw;
    height: 60vh;
    background-color:#0D28A6;
    color: white;
    border-radius: 10px;
    position:relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FAQ */
.faq-title {
    padding-top: 30px;
    justify-content: left;
}

.accordion {
    padding-right: 30px;
}

.accordion-button {
    border: 1px solid #D4D4D4 !important;
    padding-top: 10px;
}

/* Footer */
footer {
    padding-top: 40px;
    justify-content: left;
}

.logo-footer {
    background-color: #0D28A6;
    margin-top: 15px;
    width: 110px;
    height: 35px;
}

/* Mobile Phone Screen */
@media (min-width : 320px) and (max-width : 425px){
        /* Sidebar Area */
        .sidebar {
            height: 100vh;
            width: 0;
            position: fixed; 
            z-index: 1; 
            top: 0;
            right: 0;
            background-color: white;
            overflow-x: hidden;
            padding-top: 60px; 
            transition: 0.5s; 
            text-align: left;
          }

          .sidebar a {
            padding: 8px 8px 8px 8px;
            text-decoration: none;
            color: black;
            display: block;
            transition: 0.3s;
          }

          .sidebar a:hover {
            color: #f1f1f1;
          }

          .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
          }

          .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: transparent;
            color: black;
            border: none;
          }

          .openbtn:hover {
            background-color: black;
          }

          #sidebar-button {
            padding: 20px;
          }

          
          
         /* Header */
         .logo-area {
            margin-left: 0px;
        }

        .navbar-area {
            text-align: end;
        }

        /* Main Area */
        h2 {
            font-size: 24px !important;
        }

    
        main {
            width: 100vw;
        }

        main .row {
            padding-top: 120px;
            padding-left: 10px;
        }
        
        #card-pics{
            width: 16vw !important;
        }

        .faq , .why-us , .whyus-content, .footer{
            display: flex;
            flex-direction: column;
            
        }

       /* Why Us and Carousel Card */
        .whyus-card {
            width: 90vw;
            margin: 10px;
        }

        .no-card {
            display: none;
        }      
}

/* Tablet Screen */
@media (min-width : 429px) and (max-width : 1023px) {
    /* Sidebar Area */
    .sidebar {
        height: 100vh;
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 60px; 
        transition: 0.5s; 
        text-align: left;
      }
      
      .sidebar a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        color: black;
        display: block;
        transition: 0.3s;
      }
      
      .sidebar a:hover {
        color: #f1f1f1;
      }
      

      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
      }
      
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        color: black;
        border: none;
      }
      
      .openbtn:hover {
        background-color: black;
      }
      
      #sidebar-button {
        padding: 20px;
      }  

    /* Header Area */
    .logo-area {
        margin-left: 0px;
    }

    .navbar-area {
        text-align: end;
    }

    /* Main Area */
    h2 {
        font-size: 24px !important;
    }

    #car-pics {
        max-width: 100%;
    }

    main .row, .footer {
        padding-top: 100px;
        padding-left: 10px;
    }

    main, .whyus-card {
        width: 100vw;
    }

    /* Why Us and Carousel Card */
    .no-card {
        display: none;
    }

    .whyus-content {
        display: flex;
        flex-direction: column;
    }   
}

/* Desktop Screen */
@media (min-width : 1024px) {
    /* Sidebar Button */
    .openbtn, .closebtn, .navbar-area ul li h4 {
        display: none;
    }

    /* Header Area */
    .navbar-area {
        max-width: 100% !important;
    }
    .navbar-area ul {
        display: flex;
        justify-content:space-between;
    }

    /* Main Area */
    .front-text, .our-services {
        padding-right: 50px;
    }
    main, .whyus-card {
        width: 100vw;
    }

    #car-pics {
        width: 50vw !important;
    }

    #service-pics {
        width: 38vw !important;
    }

    #card-pics{
        width: 7vw !important;
    }
}

/* Desktop Screen */
@media (min-width : 1440px){
    /* Font-Size */
    h2 {
        font-size: 32px !important;
    } 
    h3 {
        font-size: 28px !important;
    }
    h4 {
        font-size: 20px !important;
    } 
    p, li {
        font-size: 16px !important;
    }

    /* Header Area */
    .navbar-area ul {
        display: flex !important;
        justify-content:space-between !important;
    }

    /* Main Area */
    .btn, .accordion-button {
        font-family: helvetica;
        font-size: 16px !important;
    }
    #car-pics {
        width: 50vw !important;
    }
    #service-pics {
        width: 35vw !important;
    }
}